.masthead {
  height: 20vh;
  min-height: 100px;
  background-image: url('https://t3.ftcdn.net/jpg/04/13/48/36/360_F_413483676_NZfIguSYWKbiwDBThZ55tEYgfePoqah4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
